.LoginForm {
  font-weight: 'semibold';
}
.LoginPage > .SidImage{
  height: auto;
  opacity:85%;
  background:linear-gradient(#3A8DFF,#86B9FF);
  background-color:orange /*this your primary color*/
}

.LoginPage > .LoginForm {
  padding-left: 5%;
  padding-top: 10%;
  width: 30%;
}
.LoginPage > .LoginForm > .Login{
  text-align: center;
  max-width: 100px;
  height: 50px;
  border-radius: 0px;
}

@media (max-width: 767px) {                  
  .LoginPage > .SidImage {
     display: none;
  }
}